<div class="bcolor">
   
    <div class="signUp-Section" >

        <div class="text-center">
            <h1 class="sigin-text">LPO</h1>
        </div>
        <button (click)="enableCreateMode()" class="create-btn">Create Order</button>
        <div *ngIf="createMode">
            <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
                <div class="row mt-5">
                    <div class="col col-lg-4">
                        <label class="form-lable">Item Name</label>
                        <input id="#" type="text" class="form-control mt-1" formControlName="item_name"
                            [ngClass]="{ 'is-invalid': submitted && f.item_name.errors }">
                    </div>
                    <div class="col col-lg-4">
                        <label class="form-lable">Item Price</label>
                        <input id="#" type="number" class="form-control mt-1" formControlName="item_price"
                            [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }">
                    </div>
                    <div class="col col-lg-4">
                        <label class="form-lable">Item Quantiy</label>
                        <input id="#" type="number" class="form-control mt-1" formControlName="item_quantity"
                            [ngClass]="{ 'is-invalid': submitted && f.item_quantity.errors }">
                    </div>
                   
                </div>
                <div class="row mt-5">
                    <div class="col col-lg-4">
                        <label class="form-lable">Supplier Code</label>
                        <select class="form-control form-select form-select-sm mt-1 " aria-label=".form-select-sm example"
                            formControlName="supplier_code" [ngClass]="{ 'is-invalid': submitted && f.order_type.errors }">
                            <option value="">select supplier Code</option>
                            <option value="100" class="select-text">100</option>
                            <option value="200" class="select-text">200</option>
                            <option value="300" class="select-text">300</option>
                        </select>
                    </div>
                    <div class="col col-lg-4">
                        <label class="form-lable">Order Type</label>
                        <select class="form-control form-select form-select-sm mt-1 " aria-label=".form-select-sm example"
                            formControlName="order_type" [ngClass]="{ 'is-invalid': submitted && f.order_type.errors }">
                            <option value="">select order type</option>
                            <option value="A" class="select-text">A</option>
                            <option value="B" class="select-text">B</option>
                            <option value="C" class="select-text">C</option>
                        </select>
                    </div>
                    <div class="col col-lg-4">
                        <label class="form-lable">Delivery Type</label>
                        <select class="form-control form-select form-select-sm mt-1 " aria-label=".form-select-sm example"
                            formControlName="delivery_type" [ngClass]="{ 'is-invalid': submitted && f.delivery_type.errors }">
                            <option value="">select delivery type</option>
                            <option value="X" class="select-text">X</option>
                            <option value="Y" class="select-text">Y</option>
                            <option value="Z" class="select-text">Z</option>
                        </select>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="signIn-btn mt-5">Create</button>
                    &nbsp;
                    <button type="submit" class="signIn-btn mt-5 ml-3" (click)="DisableMode()">cancel</button>
                </div>
            </form>
        </div>
        
    </div>
 

    <!-- Fitness Joureny Start  -->
    <div class="container" *ngIf="allRecordList.length>0" style="margin-bottom:17%;">
        <div class="text-end">
            <button type="button" class="signIn-btn mt-5 ml-3" (click)="saveFile()">Export</button>

        </div>
    <table class="table table-bordered mt-3" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Quantiy</th>
            <th scope="col">LPO No</th>
            <th scope="col">Created Date </th>
            <th scope="col" class="text-center">Action </th>
          </tr>
        </thead>
        <tbody *ngFor="let rec of allRecordList;let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{rec.item_name}}</td>
            <td>{{rec.item_price}}</td>
            <td>{{rec.item_quantity}}</td>
            <td>{{rec.lpo_no}}</td>
            <td>{{rec.created_date}}</td>
            <td class="text-center">
                <fa-icon [icon]="faTrash" class="btn btn-danger btn-padding" (click)="deleteRecord(rec.id)"></fa-icon> &nbsp;
                <fa-icon [icon]="faEdit" class="btn btn-primary btn-padding" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="fetchOrder(rec)"></fa-icon> &nbsp;
                <fa-icon [icon]="faEye" class="btn btn-success btn-padding" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="viewDetail(rec.id)"></fa-icon> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Edit Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div class="modal-body bcolor">
                    <form [formGroup]="orderForm" (ngSubmit)="updateOrder()">
                        <div class="row mt-5">
                            <div class="col col-lg-6">
                                <label class="form-lable">Item Name</label>
                                <input id="#" type="text" class="form-control mt-1" formControlName="item_name"
                                    [ngClass]="{ 'is-invalid': submitted && f.item_name.errors }">
                            </div>
                            <div class="col col-lg-6">
                                <label class="form-lable">Item Price</label>
                                <input id="#" type="number" class="form-control mt-1" formControlName="item_price"
                                    [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col col-lg-6">
                                <label class="form-lable">Item Quantiy</label>
                                <input id="#" type="number" class="form-control mt-1" formControlName="item_quantity"
                                    [ngClass]="{ 'is-invalid': submitted && f.item_quantity.errors }">
                            </div>
                            <div class="col col-lg-6">
                                <label class="form-lable">LPO no</label>
                                <input id="#" type="number" class="form-control mt-1" disabled formControlName="lpo_no"
                                    [ngClass]="{ 'is-invalid': submitted && f.lpo_no.errors }">
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="signIn-btn mt-5">update</button>
                            &nbsp;
                            <button type="submit" class="signIn-btn mt-5 ml-3" data-bs-dismiss="modal">cancel</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


     <!-- View Modal -->
     <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div class="modal-body bcolor">
                    <div class="container" style="margin-bottom: -53px;">
                        <table class="table table-bordered mt-3" >
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">delivery type</th>
                                <th scope="col">order type</th>
                                <th scope="col">LPO No</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let rec of viewRecordList;let i = index">
                              <tr>
                                <th scope="row">{{i+1}}</th>
                                <td>{{rec.item_name}}</td>
                                <td>{{rec.delivery_type}}</td>
                                <td>{{rec.order_type}}</td>
                                <td>{{rec.lpo_no}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="signIn-btn mt-5 ml-3" data-bs-dismiss="modal">Close</button>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fitness Joureny End  -->


</div>


<!-- Loader Start -->
<ngx-ui-loader></ngx-ui-loader>
<!-- Loader End -->