
.row{
    max-width: 100%;
    margin: 0%;
}
.row>* {
    padding-left: 0;
}

.container-fluid .row>* {
    margin: 0%;
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}
form .row>* {
    margin: 0%;
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: 10;
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}
.container-fluid{
    padding: 0%;
}

.bg-color{
    background-color: #EFF2F9;
}
.background-img-fitness{
    height: 100%;
    background-image: url('/assets/img/fitness1.gif');
    background-repeat: no-repeat;
    background-position: right ;
    right: 0;
    background-size: 50%;
    /* animation: fadeIn linear 10s;
    -webkit-animation: fadeIn linear 10s;
    -moz-animation: fadeIn linear 10s;
    -o-animation: fadeIn linear 10s;
    -ms-animation: fadeIn linear 10s; */

    /* animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s; */
}
/* @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  } */
.srcn-height{
    height: 86vh;
}
.text-div{
    margin-top:15%;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    height: 100px;
    color: #747474;
    font-family: 'Poppins', sans-serif;
    width:505px;
    
}
.more-btn{
    border-radius: 100px;
    padding: 8px 30px;
    border: none;
    background-color: #D81A1E;
    color: white;
    font-size: 14px;
    font-weight: normal;
}
.calculate-btn{
    margin-top: 82px;
}
.calculate-btn:active {
    transform: translateY(3px);
  }
.alert-success {
    color: #0f5132;
    background-color: #ffffff;
    border: none;
    height: 10;
    padding: 36px 19px;
}
.alert-dismissible .btn-close {
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 2;
    padding: 1.25rem 1rem;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    background: transparent url('/assets/img/close1.png');
    background-repeat: no-repeat;
    background-size: 26px 26px;;
    background-position: center;
    border: 0;
    border-radius: .25rem;
    opacity: 1;
}
body {
    padding: 50px;
  }
    .container__image {
      display: inline-block;
      vertical-align: top;
      width: 18%;
      margin: 10px 30px 0 0;
    }
    .container__text {
      display: inline-block;
      width: 60%;
      @media (max-width: 620px) {
        width: 100%;
      }
    }
    .hero-card{
        background-color: white;
        padding: 20px;
        margin: 30px;
        box-shadow: 0px 3px 10px #73adcf38;
        border-radius:4px ;
    }
    .card-div{
        position: relative;
        width: 100%;
        height: 250px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        justify-content: center;
      }
    .image {
        display: block;
        width: 100%;
        height: auto;
      }
      .hover-text{
          font-size: 10px;
        font-weight: lighter;
        }
        .card-btn{
            background-color: transparent;
             border: none; 
             color: #D81A1E; 
             font-weight: lighter;
             font-size: 14px;
             margin-right: 15px;
        }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000000;
      }
      
      .card-div:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        justify-content: center;
      }
    .fitness-goal{
        font-size: 32px;
        font-weight: bold;
        margin-top: 80px;
       
    }
    .fitness-goal-animation{
        animation: zoom-in-zoom-out 1s ease-in ;
    }
    
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.2, 0.2);
    }
    50% {
      transform: scale(0.5, 0.5);
    }
    100% {
      transform: scale(0.8, 0.8);
    }
  }
    .fitness-goal-content{
        font-size: 16px;
        font-weight: normal;
        margin-top: 50px;
        padding: 0px 250px;
    }
    
    ul {
        font-size: 16px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      li {
        display: block;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        box-shadow: 0px 1px 2px #c0c0c080;
    }
    .sm-li{
        font-weight: lighter !important;
    }
    .card-text-color{
        color: #D81A1E;
        font-weight: bolder;
    }
    .sm-text{
        font-size: 10px;
    }
    .content{
        font-weight: normal;
        margin-top: 40px;
        animation-duration: 3s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    .Arrowbtn{
        background-color: #D81A1E;
        border: none;
        color: white;
        padding: 8px 15px;
        border-top-left-radius:50px ;
        border-bottom-left-radius:50px ;
        text-align: center;
        justify-content: center;
        font-weight: normal;
        font-size: 16px;
        font-size: small;
        width: 150px;
    }
    .learnMore:active {
        transform: translateY(3px);
      }
    .Arrowimg{
        background-color: #D81A1E;
        border: none;
        color: white;
        border-left: white 1px solid;
        padding: 10px 20px;
        border-top-right-radius:50px ;
        border-bottom-right-radius:50px ;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }
    .card{
        position: relative;
    }
    /* Top right text */
    .top-right {
    position: absolute;
    top: 0px;
    right:0px;
    width: 70px;
    height: 70px;
    padding-top: 16px;
    box-shadow: -2px 2px 8px #b93f3f80; 
    border-bottom-left-radius: 100px 100px;
    background-color: #D81A1E;
  }
  .top-right img, svg {
    margin-right: -15px;
    vertical-align: middle;
    }
    .card-heading{
        font-size: 18px;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.788);
    }
    .card-sm-txt{
        font-size: 12px;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.575);
    }
    .p-5{
        padding: 4rem !important;
    }
    #product-section{
        background-image: url(/assets/img/productBackground.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .shop-heading{
        font-size: 30px;
        font-weight: 700;
        padding-top: 40px;
    }
    .product-title{
        font-size: 26px;
        font-weight: 700;
    }
    .product-price{
        font-size: 24px;
        font-weight: bolder;
        color: #D81A1E;
    }
    .product-text{
        font-size: 14px;
        font-weight: lighter;
        width: 60%;
    }
    .calculator-heading{
        font-size: 18px;
        font-weight: bolder;
        
    }
   
    .calculator-content{
     font-size: 16px;
     font-weight: normal;
     padding: 20px 0px;   
    }
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 14px;
        font-weight: normal;
        line-height: 3;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        /* box-shadow: 0px 1px 2px #c0c0c080; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0%;
    }
    #calculator{
        background-color: #F8F7F8 ;
        padding-top:80px ;
        padding-bottom:80px ;
    }
    .BMI-table{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        /* margin: 50px 50px; */
    }
    .table-row{
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
        padding-left:30px !important ;
    }
    .table-row-lft{
        border-left:1px solid rgba(0, 0, 0, 0.164);
        padding: 20px 0px;
    }
    
    .product-img{
        width: 90%;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }
    .product-img:hover{
        transform: rotate(20deg);
    }
    .chart-img{
        animation-duration: 4s;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
        transform: rotateZ(2deg);
    }
    .chart-img:hover{
        /* transform: rotateZ(0deg); */
        transform: rotate(0deg);
    }
    @media all and (max-width: 1024px) {
        .hero-card{
            background-color: white;
            padding: 20px;
            margin: 20px;
            box-shadow: 0px 3px 10px #73adcf38;
            border-radius:4px ;
        }  
    }
    @media only screen and (max-width:768px) {
        #card-packeges{
            width: 70%;
            margin-left: 18%;
        }
        .fitness-goal-content{
            font-size: 14px;
            font-weight: lighter;
            margin-top: 50px;
            padding: 0px 0px;
        }
    }
    @media only screen and (max-width: 425px) {
        .fitness-goal-content{
            font-size: 14px;
            font-weight: lighter;
            margin-top: 50px;
            padding: 0px 0px;
        }
        .product-img{
            width: 100%;
        }
        #card-packeges{
            width: 100%;
            margin-left: 0%;
        }
        .text-div{
            margin-top:15%;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
            color: #747474;
            font-family: 'Poppins', sans-serif;
            width:280px;
            
        }
        .more-btn{
            font-size: 10px;
            border-radius: 100px;
            padding: 8px 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            border: none;
            background-color: #D81A1E;
            color: white;
        }
        .Arrowbtn{
            background-color: #D81A1E;
            border: none;
            color: white;
            padding: 10px 10px;
            border-top-left-radius:50px ;
            border-bottom-left-radius:50px ;
            text-align: center;
            justify-content: center;
            font-weight: bold   ;
            font-size: small;
            width: 100px;
        }
        
          
        .Arrowimg{
            background-color: #D81A1E;
            border: none;
            color: white;
            border-left: white 1px solid;
            padding: 10px 14px;
            border-top-right-radius:50px ;
            border-bottom-right-radius:50px ;
            text-align: center;
            justify-content: center;
            cursor: pointer;
        }
      }
    .card{
        box-shadow: 0px 3px 10px #73adcf38;
        border: none;
    }

    body {
        background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat;
      }
      
      .block {
        height: 5em;
        line-height: 5em;
        width: 10em;
        background: #464646;
        color: #fdfdfd;
        text-align: center;
        margin: 1em auto;
        text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
      }
      
      .animatable {
        
        /* initially hide animatable objects */
        visibility: hidden;
        
        /* initially pause animatable objects their animations */
        -webkit-animation-play-state: paused;   
        -moz-animation-play-state: paused;     
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;   
        animation-play-state: paused; 
      }
      
      /* show objects being animated */
      .animated {
        visibility: visible;
        
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
      
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      
      /* CSS Animations (extracted from http://glifo.uiparade.com/) */
      @-webkit-keyframes fadeInDown {
          0% {
              opacity: 0;
              -webkit-transform: translateY(-20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInDown {
          0% {
              opacity: 0;
              -moz-transform: translateY(-20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInDown {
          0% {
              opacity: 0;
              -o-transform: translateY(-20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInDown {
          0% {
              opacity: 0;
              transform: translateY(-20px);
          }
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      
      
      
      @-webkit-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @-moz-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @-o-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @keyframes fadeIn {
          0% {
              opacity: 0;
          }
          60% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      @-webkit-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -webkit-transform: translateX(-2000px);
          }
          60% {
              -webkit-transform: translateX(20px);
          }
      
          80% {
              -webkit-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: translateX(0);
          }
      }
      
      @-moz-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -moz-transform: translateX(-2000px);
          }
      
          60% {
              -moz-transform: translateX(20px);
          }
      
          80% {
              -moz-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateX(0);
          }
      }
      
      @-o-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -o-transform: translateX(-2000px);
          }
      
          60% {
              opacity: 1;
              -o-transform: translateX(20px);
          }
      
          80% {
              -o-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateX(0);
          }
      }
      
      @keyframes bounceInLeft {
          0% {
              opacity: 0;
              transform: translateX(-2000px);
          }
      
          60% {
              transform: translateX(20px);
          }
      
          80% {
              transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }
      @-webkit-keyframes bounceInRight {
          0% {
              opacity: 0;
              -webkit-transform: translateX(2000px);
          }
      
          60% {
              -webkit-transform: translateX(-20px);
          }
      
          80% {
              -webkit-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: translateX(0);
          }
      }
      
      @-moz-keyframes bounceInRight {
          0% {
              opacity: 0;
              -moz-transform: translateX(2000px);
          }
      
          60% {
              -moz-transform: translateX(-20px);
          }
      
          80% {
              -moz-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateX(0);
          }
      }
      
      @-o-keyframes bounceInRight {
          0% {
              opacity: 0;
              -o-transform: translateX(2000px);
          }
      
          60% {
              -o-transform: translateX(-20px);
          }
      
          80% {
              -o-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateX(0);
          }
      }
      
      @keyframes bounceInRight {
          0% {
              opacity: 0;
              transform: translateX(2000px);
          }
      
          60% {
              transform: translateX(-20px);
          }
      
          80% {
              transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }
      @-webkit-keyframes fadeInUp {
          0% {
              opacity: 0;
              -webkit-transform: translateY(20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInUp {
          0% {
              opacity: 0;
              -moz-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInUp {
          0% {
              opacity: 0;
              -o-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInUp {
          0% {
              opacity: 0;
              transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      @-webkit-keyframes bounceIn {
          0% {
              opacity: 0;
              -webkit-transform: scale(.3);
          }
          50% {
              -webkit-transform: scale(1.05);
          }
      
          70% {
              -webkit-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: scale(1);
          }
      }
      
      @-moz-keyframes bounceIn {
          0% {
              opacity: 0;
              -moz-transform: scale(.3);
          }
      
          50% {
              -moz-transform: scale(1.05);
          }
      
          70% {
              -moz-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -moz-transform: scale(1);
          }
      }
      
      @-o-keyframes bounceIn {
          0% {
              opacity: 0;
              -o-transform: scale(.3);
          }
      
          50% {
              -o-transform: scale(1.05);
          }
      
          70% {
              -o-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -o-transform: scale(1);
          }
      }
      
      @keyframes bounceIn {
          0% {
              opacity: 0;
              transform: scale(.3);
          }
      
          50% {
              transform: scale(1.05);
          }
      
          70% {
              transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              transform: scale(1);
          }
      }
      @-webkit-keyframes moveUp {
          0% {
              opacity: 1;
              -webkit-transform: translateY(40px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes moveUp {
          0% {
              opacity: 1;
              -moz-transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes moveUp {
          0% {
              opacity: 1;
              -o-transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes moveUp {
          0% {
              opacity: 1;
              transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      
      @-webkit-keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      @-o-keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      @keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      
      .animated.animationDelay{
          animation-delay:.4s;
          -webkit-animation-delay:.4s;
      }
      .animated.animationDelayMed{
          animation-delay:1.2s;
          -webkit-animation-delay:1.2s;
      }
      .animated.animationDelayLong{
          animation-delay:1.6s;
          -webkit-animation-delay:1.6s;
      }
      .animated.fadeBgColor {
          -webkit-animation-name: fadeBgColor;
          -moz-animation-name: fadeBgColor;
          -o-animation-name: fadeBgColor;
          animation-name: fadeBgColor;
      }
      .animated.bounceIn {
          -webkit-animation-name: bounceIn;
          -moz-animation-name: bounceIn;
          -o-animation-name: bounceIn;
          animation-name: bounceIn;
      }
      .animated.bounceInRight {
          -webkit-animation-name: bounceInRight;
          -moz-animation-name: bounceInRight;
          -o-animation-name: bounceInRight;
          animation-name: bounceInRight;
      }
      .animated.bounceInLeft {
          -webkit-animation-name: bounceInLeft;
          -moz-animation-name: bounceInLeft;
          -o-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
      }
      .animated.fadeIn {
          -webkit-animation-name: fadeIn;
          -moz-animation-name: fadeIn;
          -o-animation-name: fadeIn;
          animation-name: fadeIn;
      }
      .animated.fadeInDown {
          -webkit-animation-name: fadeInDown;
          -moz-animation-name: fadeInDown;
          -o-animation-name: fadeInDown;
          animation-name: fadeInDown;
      }
      .animated.fadeInUp {
          -webkit-animation-name: fadeInUp;
          -moz-animation-name: fadeInUp;
          -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
      }
      .animated.moveUp {
          -webkit-animation-name: moveUp;
          -moz-animation-name: moveUp;
          -o-animation-name: moveUp;
          animation-name: moveUp;
      }
.con{
    margin-bottom: -49px;
}
      .signIn-Section{
        justify-content: center;
         padding: 50px 35%;
    }
    .btn-padding{
        font-size: 11px;
    padding: 1px 5px;
    }
    .bcolor{
        background: #F8F7F8;
    }
    .signUp-Section{
        padding: 1% 10%;
    }
    .Info-required{
        padding: 5% 25%;    
    }
    .sigin-text{
        font-weight: bold;
        font-size: 28px;
    }
    .sigin-caption{
        font-size: 12px;
        font-weight: normal;
    }
    span a{
        text-decoration: none;
        color: #D81A1E;
        cursor: pointer;
    }
    span a:hover{
        text-decoration: underline;
        color: #D81A1E;
    }
    .form-lable{
        font-size: 12px;
        font-weight: normal;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 12px;
        font-weight: normal;
        line-height: 2.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        box-shadow: 0px 0px 0px #c0c0c080;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        
    }
    .form-control{
        background-color: #fff;
    }
    .signIn-btn{
        border-radius: 100px;
        padding: 10px 50px;
        border: none;
        background-color: #D81A1E;
        color: white;
        font-size: 12px;
    }
    .create-btn{
        border-radius: 100px;
        padding: 10px 24px;
        border: none;
        background-color: #D81A1E;
        color: white;
        font-size: 12px;
    }
    .google-btn{
        margin-right: 10px;
        border-radius: 100px;
        padding: 10px 80px;
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
    }
    .continue-btn{
        border-radius: 100px;
        padding: 10px 60px;
        border: none;
        background-color: #D81A1E;
        color: white;
        font-size: 12px;
    }
    .arrow-img{
        margin-left: 15px;
    }
    .select-text{
        font-weight: normal;
    }
    .checkbox input{
        display: none;
    }
    .checkbox label{
        cursor: pointer;
    }
    .checkbox input:checked + label{
        color: #D81A1E;
        cursor: pointer;
        font-weight: bolder;
    }
    .checkbox-radio-btn{
        border-radius: 5px;
        background-color: #fff;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: normal;
    }
    .lable-text{
        font-size: 12px;
        font-weight: normal;
        color:#D81A1E;
        padding-left: 200px;
    }
    
    @media only screen and (max-width: 656px) {
        .signIn-Section{
            justify-content: center;
             padding: 50px 5%;
        }
        .signUp-Section{
            padding: 5% 5%;
        }
        .Info-required{
            padding: 5% 3%;    
        }
    
    }