.row{
    width: 100%;
}
.footer-text-color{
    color: white;
}
.footer-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1;
    margin-top: 16px;

}
.bg-color{
    background-color: #4D4D4D;
}