<div class="bg-color" id="footer">
    <div class="row">
        <div class="col-lg-4 col-md-2  p-5">
            <img src="/assets/img/User.png" alt="" style="width: 23%;">
        </div>
        <div class="col-lg-8 col-md-10 p-5">
            <div class="row footer-text-color">
                <div class="col-sm">MY PLAN
                    <div class="footer-link"><p class="mouse-pointer" > Plan A</p></div>
                    <div class="footer-link"><p class="mouse-pointer" >Diet Plan B</p></div>
                </div>
                <div class="col-sm">CONTACT
                    <div class="footer-link"><a><p>012 345 6789</p></a></div>
                    <div class="footer-link"><a><p>info@example.com</p></a></div>
                   
                </div>
            </div>

        </div>
    </div>
</div>