.bg-color{
    background-color: white !important;
}
.pl-5{
 padding-left:40px !important ;
 }
 .pr{
     padding-right: 10px;
 }
.navbar-dark .navbar-brand {
 color: black;
 width: 160px;
 }
.navbar-dark .navbar-toggler-icon {
    background-color: rgb(218, 218, 218) !important;
    border-radius: 2px;
    
 /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e); */
 }
 .navbar-dark .navbar-nav .nav-link {
     color: rgba(0, 0, 0, 0.55);
     height: 50px;
 }
 .dropdown-menu{
     min-width: 200px !important;
     margin-top: 0px !important;
     z-index: 1000;
     border: none;
     box-shadow: 0px 0px 10px #73adcf5d;
 }
 .dropdown-menu::before {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     bottom: 100%;
     left: 150px; 
     border: .75rem solid transparent;
     border-top: none;
     border-bottom-color: #fff;
     z-index: 1000;
     filter: drop-shadow(0 -0.0625rem 0.0625rem #73adcf5d);
 }
 .dropdown-p{
     padding: 10px 50px;
 }
 .dropdown-toggle::after {
     display: inline-block;
     justify-content: center;
     text-align: center;
     margin-left: .255em;
     vertical-align: .255em;
     content: "";
     border-top: .3em solid;
     border-right: .3em solid transparent;
     border-bottom: 0;
     color: #D81A1E;
     border-left: .3em solid transparent;
 }
 .icon-text{
     font-size: 16px;
     font-weight: normal;
 }
 a{
     text-decoration: none;
     color: black;
 }
 .brdr-lft{
     border-left: 1px solid rgba(0, 0, 0, 0.096);
 }
 .register{
     font-size: 16px;
     font-weight: normal;
     padding-right: 25px;
     color: #D81A1E;
     cursor: pointer;
 }

 .dropbtn {
border: none;
}
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
/* margin-top: 5px; */
right: 0;
background-color: white;
min-width: 220px;
box-shadow: 0px 0px 10px #73adcf5d;
z-index: 900;
}

.dropdown-content a {
color: black;
padding: 10px 18px;
text-decoration: none;
display: block;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block;}
.dashboard-menu{
 font-size: 14px;
 font-weight: lighter;
 margin-left: 20px;
}
.dropdown-item:focus, .dropdown-item:hover {
 color: #1e2125;
 background-color: white;
}

.navbar {
 position: relative;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: start;
 padding-top: .5rem;
 padding-bottom: .5rem;
}
@media all and (min-width: 992px) {
 .navbar .nav-item .dropdown-menu{ display: none; }
 /* .navbar .nav-item:hover .nav-link{   } */
 .navbar .nav-item:hover .dropdown-menu{ 
     display: block;
     margin-left: -100px;
     z-index: 1000;
  }
 .navbar .nav-item .dropdown-menu{ margin-top:0; }
 }
 .pl-auth{
    margin-top: 3%;
   }
 @media all and (max-width: 768px) {
     /* #Register-section{
         display: block !important;
     } */
     .dropdown-menu::before {
         display: none;
     }
 }
 @media all and (max-width: 425px) {
    
.dropdown-p {
 padding: 10px 20px !important;
}
*, ::after, ::before {
 box-sizing: border-box;
}
user agent stylesheet
div {
 display: block;
}
.text-center {
 text-align: center!important;
}
.dropdown-item {
 display: block;
 width: 100%;
 padding: .25rem 1rem;
 clear: both;
 font-weight: 400;
 color: #212529;
 text-align: inherit;
 text-decoration: none;
 white-space: normal;
 background-color: transparent;
 border: 0;
}
    
 }
 



