


<div class="bg-color">
  <!-- Nav bar Start -->
  <div class="container">
    <div class="row">
      <div class="col-8">
        <nav class="navbar navbar-expand-lg navbar-dark ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-brand" routerLink="/">
            <img src="/assets/img/User.png" alt="" width="25%">
          </div>
         
        </nav>
      </div>
  
    </div>
    
  </div>
  <!-- Nav bar End -->
</div>
