@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
body {
  /* /* margin: 0; */
  background: #F6F9FF; 
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.575);
  /* height: 100vh; */
}
.mouse-pointer{
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f196; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d81a1da4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D81A1E; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-color{
  color: #D81A1E;
}
